.search-header{
  height: 100%;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  flex-shrink: inherit;
  margin-bottom: 20px;
  box-sizing: border-box;
  background-color: #ffd000;

  /* @media screen and(max-width: 850px){
    height: 80%;
    width: auto;
  } */
}
.search-box {
  -webkit-appearance: none;
  outline: none;
  padding: 1.5px;
  width: 60vw;
  line-height: 10px;
  border-color: orange;
  border-width: 5px; 
}
.search-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* 
.search-icon{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
} */
.cart-icon{
  font-size: 30px;
}

.search-button{
  text-transform: uppercase;
  padding: 7px;
  background-color: #ffd000;
  line-height: 10px;
  border-color: orange;
  border-width: 5px; 

}

.user-login{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  font-size: larger;
  cursor: pointer;

}