.cart-dropdown {
  position: absolute;
  width: 240px;
  height: 340px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid rgb(56, 115, 182);
  background-color: white;
  top: 90px;
  right: 40px;
  z-index: 5;

  .empty-message {
    display: flex;
    flex-direction: column;
    color: black;
    font-size: 18px;
    margin: 60px auto;
  }
  .go-shopping{
    display: flex;
    justify-content: center;
  }

  .cart-items {
    height: 240px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }

  button {
    margin-top: auto;
  }
}
