.header {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-shrink: inherit;
  margin-bottom: 15px;
  background-color: #f8c408;
  color: rgb(44, 56, 220);
  font-family: Open Sans Condensed;
  box-shadow: 10rem rgba(0,0,0,.075) !important;


  .logo-container {
    height: 30%;
    width: 30px;
    padding: 25px;
  }


  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
    .option {
      padding: 10px 15px;
      cursor: pointer;
    }
  }
}
