.subnavbar ul{
	height: 50px;
  width: auto;
  display: flex;
	justify-content: space-around;
  flex-shrink: inherit;
	margin: 0px;
	padding: 0%;
  margin-bottom: 0px;
  background-color: #002369;
	text-shadow: 5em;
  box-shadow: 10rem rgba(0,0,0,.075) !important;

}

ul li{
	list-style-type: none;
	text-align: center;
}

ul li a:hover{
	text-decoration: none;
	color: aliceblue;
}