body{
  margin-left: 0px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: rgb(255, 255, 255);
}
a{
  text-decoration: none;
  color: black;
}

*{
  box-sizing: border-box;
}

root{
  width: 100%;
}

